# Django
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
*.sqlite3
media/
staticfiles/
static/
\env
.env
*.env
*.log

# Ignore Django migrations
**/migrations/
**/migrations/*.py
!**/migrations/__init__.py

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python virtualenv
venv/
ENV/
env/

profile_pics
ticket_messages